 body,
html {
    margin: 0;
    text-align: center;
}

.main{
    background-color:aquamarine ;
    height: 500px;
    width: 500px;
    position: relative;
    transition: 0.3s;
}
.box{
    height: 100px;
    width: 100px;
    position: absolute;
    background-color: rgb(19, 111, 111);
    transition: 0.2s;
    cursor: pointer; 
    top:10px;
}
.box:hover{
    background-color: cornflowerblue;
}
@media (min-width:700px) and (max-width:1000px) {
    .box{
        right: 20px;
        top:20px;
        transition: 0.6s;
        transform: rotateX(180deg);
    }
    body{
        background-color:coral ;
    }
}





